ul {
  list-style-type: none;
  margin: 0px;
}

.nav-link {
  color: #333333;
}

.accordion-button:not(.collapsed) {
  background-color: white;
  box-shadow: none;
  border: none;
}

.accordion-button:focus {
  background-color: white;
  box-shadow: none;
  border: none;
}

.accordion-button:not(.collapsed)::after {
  width: 11px;
  height: 3px;

  background-image: url("../images/minus.png") !important;
}

.accordion-button::after {
  width: 11px;
  height: 23px;
  background-image: url("../images/plus.png") !important;
  background-size: auto;
}
